.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
/* @media all and (max-width:1024px){
    .headerbox{
        text-align: left;
    }
} */
@media all and (max-width:700px){
    .container{
        flex-direction: column;
    }
}


/* btn dark rgb(124,186,14) */